<h1 class="head">Product list</h1>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">

  <div *ngFor="let x of product;index as i">
    <div class="card" style="width: 18rem;">
      <img src="{{ x.image }} " class="card-img-top" alt="...">
     <div class="card-body">
        <h5 class="card-title">Name:{{ x.name }}  </h5>
        <p class="card-text">Price: {{ x.price }} $ </p>
        <a routerLink="/header/{{ i }}" class="btn btn-primary">Details</a>
     </div>
   </div>
  </div>
</div>


